@media only screen and (min-width:992px) and (max-width:1200px) {
  .main {
    width: 970px;
  } 
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .main {
    width: 750px;
  }
  .single-menu {
    flex-direction: column;
  }
  .single-menu img {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width:767px) {
  body{
    background: linear-gradient(to bottom, #e74c3c, #c0392b);
    width: 280px;
  }
  .main {
    width: 280px;
    background: linear-gradient(to bottom, #e74c3c, #c0392b);


  }
  .menu-column{
    width: 100%;
    margin-bottom: 60px;
  }
  .single-menu {
    flex-direction: column;
  }
  .single-menu img {
    width: 100px;
    height: 100px;
    margin-bottom: 25px;
  }
  .single-menu .menu-content h5 span {
    color: black;
    float: inline-end;
    margin-left: 20px;
    position: relative;
    top:5px;
    /*the below code works take it as option*/
    /*position: absolute;
    align-items: center;
    justify-content: center;*/
    font-weight: 600;
    font-style: italic;
    
  }
}